/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 3.02.2025 г., 10:34:27 ч.
    Author     : Vegito
*/
* {
    box-sizing: border-box;
    font-family: "Lobster", serif;
}

/* Основни стилове */
body {
    background-image:  url("../images/pexels-anete-lusina-6331082.jpg");
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width:100%;
    text-align: center;
    padding-top: 60px; /* Оставя място под менюто, за да не припокрива съдържанието */
}
/* Style the header */
.header {
    padding: 30px;
    text-align: center;
    font-size: 1.0VW;
}
h1 {
    position: absolute;
    top: 75px; /* Повдига текста по-нагоре */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2.2vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
    z-index: 10; /* Гарантира, че текстът е над всички елементи */
}
h2 {
    text-align: center;
    font-size: 2.2vw; /* Адаптивен размер за различни екрани */
    font-weight: bold;
    margin: 10px auto;
    display: block;
    max-width: 80%;
    transform: translateX(-1%);
    margin-top: 20px; /* Регулирай тази стойност, ако е необходимо */
}

h1:hover{
    color: red;
}
.socials img{
    transition: width 2s linear, height 2s linear;
}
.socials img:hover {
    width: 5vw;
    height: auto;
}
.psychology{
    width: 95vw; /* Запълва цялата ширина на екрана */
    height: 60vh; /* Заема 40% от височината на екрана */
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    opacity: 0.7;
}

.slogan {
    font-size: 18px; /* Увеличава размера */
    font-style: italic; /* Добавя лек наклон */
    color: #333; /* Променя цвета */
    text-align: center; /* Центрира текста */
    margin-top: 10px; /* Добавя отстояние отгоре */
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #ccc;

}

/* Style the topnav links */
/*da se narejdat edno sled drugo v menu-to*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.colorsOfpsychology{
    width: 25%;
    height: auto;
    opacity: 0.7;
    transition: all 0.3s ease-in-out; /* Лек преход при промяна */
    border-radius: 15px;
}
.colorsOfpsychology:hover{
    opacity: 1; /*Премахва прозрачността при hover */
    width: 30%;/*Увеличава размера плавно */
    height: auto;
    border-radius: 30px;
}

.logo {
    width: 100%;
    height: auto;
    max-width: 100px;
    opacity: 0.7;
    z-index: 1001;/*Да е видимо на всички екрани*/
}


nav {
    background: rgba(0, 0, 0, 0.8); /* Тъмен прозрачен фон за добра четимост*/
    color: white; /* Бял текст за по-добър контраст */
    padding: 10px 0; /* Добавя пространство вътре в навигацията */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Проверява дали менюто е над всички елементи */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-weight: 300; /* По-тънки букви*/
    font-size: 20px; /* Леко намален размер */
    letter-spacing: 1.5px; /* Малко повече разстояние между буквите */
    color: white; /* Проверка дали линковете са бели */
    text-decoration: none; /*Премахва подчертаването */
    transition: color 0.8s ease-in-out; /*анимация при задържане */
}

nav ul li a:hover {
    color: #FFD700; /* Променя цвета при задържане */
}

main {
    padding: 20px;
}
.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}
input[type=text], select, textarea {
    font-size: 16px; /* Увеличава размера на текста */
    color: #333; /* По-тъмен цвят за по-добра четимост */
    background-color: rgba(255, 255, 255, 0.9); /* Лек фон, за да изпъква текста */
    border: 1px solid #ccc; /* Граница за по-добра видимост */
    padding: 12px; /* Добавя разстояние в полето */
    border-radius: 5px; /* Заоблени ъгли */
    width: 100%;
    resize: vertical;
}
input[type=submit] {
    font-size: 16px; /* Подходящ размер на текста */
    background-color: #04AA6D;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: auto; /* Позволява на бутона да заеме само нужната ширина */
    max-width: 200px; /* Ограничение на максималната ширина */
    text-align: center; /* Центриране на текста */
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 8px;
    background-color: rgba(255,255,255,0.6);/*По-малко прозрачност*/
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)/*Добавяме сянка*/
}


.content {
    text-align: center;

}
.center {
    padding: 10px;
    line-height: 1.8;
    hyphens: auto;
    text-align: justify;
}
.footer {
    background-color: #2c3e50;
    padding: 10px;
    height: 60px;
    text-align: center;
}
/* Прозрачен фон на таблицата */
.table-container {
    background: rgba(255, 255, 255, 0.2); /* Бял фон с прозрачност 20% */
    padding: 15px;
    border-radius: 10px; /* Леко заоблени краища */
}

/* Подобряване на четимостта на заглавията на колоните */
th {
    background-color: rgba(0, 0, 0, 0.85); /* Тъмен фон за заглавията */
    color: white; /* Бял текст */
    font-weight: 300; /* По-тънки букви*/
    letter-spacing: 1.5px; /* Малко повече разстояние между буквите */
    text-decoration: none; /*Премахва подчертаването */
    text-transform: uppercase;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* Подчертаване на редовете при ховър */
tr:hover {
    background-color: rgba(0, 0, 0, 0.15); /* Леко потъмняване при ховър */
    transform: scale(1.02); /*уголемяване на реда*/
    transition: all 0.2s ease-in-out; /*Плавно преминаване на ефекта*/
}

/* По-добро разстояние между клетките */
td {
    padding: 12px;
    font-size: 16px;
    vertical-align: middle;/*Центрира текста във височина*/
}

/* Стил за имената на цветовете */
.color-name {
    font-weight: bold;
    text-transform: uppercase;
    color: white; /* Бял текст за контраст */
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

/* Лек борд за по-добро оформление */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid rgba(0, 0, 0, 0.3); /* Лек сив борд */
    padding: 15px;
}
/*хоризонтално превъртане*/
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
/*Слайдер контейнер*/
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 700px;
    margin: 20px auto;
    /*overflow: hidden;*/
}
/*Всяка слайд снимка*/
.slide {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;/*Запълва слайда без изкривяване*/
}

.slide:first-child {
    display: block;
}
/* Стил за бутоните */
.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Позиции на бутоните */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачен фон */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
/* Цветови комбинации */
.color-combinations {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.color-combinations th, .color-combinations td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}
.color-combinations td {
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

.color-combinations th {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.color-box {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
}


.best-industries {
    display: flex;
    justify-content: center;
    align-items: stretch;/*всички елементи на една височина*/
    gap: 20px;/*разстоянието между кутийките*/
}

.industries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background: rgba(255, 255, 255, 0.2);/*Изсветлява белият фон*/
    padding: 15px;
    border-radius: 10px;/*Заобля ъглите*/
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 2);/*Лека сянка за изпъкване*/
}

.industries img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.industries:hover {
    transform: scale(1.02);/*Изпъкване*/
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.25);/*СЯнка*/
}

.best-practices {
    display: flex;
    justify-content: center;
    align-items: stretch;/*всички елементи на една височина*/
    gap: 20px;/*разстоянието между кутийките*/
}

.practice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background: rgba(255, 255, 255, 0.2);/*Изсветлява белият фон*/
    padding: 15px;
    border-radius: 10px;/*Заобля ъглите*/
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 2);/*Лека сянка за изпъкване*/
}

.practice img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.practice:hover {
    transform: scale(1.02);/*Изпъкване*/
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;/*За по-плавен ефект*/
    box-shadow: 0px 8px 15px rgba(0,0,0,0.25);/*СЯнка*/
}

.practice h3 {
    font-family: 'Tinos', serif;
    font-size: 22px;
    font-weight: bold;
}

.practice p {
    font-size: 16px;
    line-height: 1.5;
}

/* Ефект за плавна промяна */
.fade {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
/* вдигаме логото малко по-нагоре*/
.socials{
    margin-top: 4vh
}
.socials img, .x, .inst {
    width: 3vw;
    height: auto;
}

.f{
    width: 1.5vw;
    height: auto;
    margin-left: 2vw;
    margin-right: 0vw;
}

.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
/* Скрита навигация по подразбиране */
.mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    text-align: center;
    padding: 10px 0;
    z-index: 10000;
}

.menu-toggle {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1000;
    border-radius: 5px;
}

/* Стил за мобилното меню */
.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.mobile-nav li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;
}

.mobile-nav li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.mobile-nav li:last-child {
    border-bottom: none;
}

/* Показване на мобилното меню при клик */
.mobile-nav.active {
    display: flex;
}



@media only screen and (max-width: 480px) {
    body {
        background-color: blueviolet;
        font-size: 40px;
    }

    /*Центриране на логото */
    .logo {
        max-width: 50px;
        display: block;
        margin: 5px auto;
    }

    /*Подравняване на заглавието */
    h1 {
        font-size: 3vw;
        text-align: center;
        margin-top: 60px ;
        display: block;
    }
    h2 {
        font-size: 4vw;
        text-align: center;
    }
    h3 {
        font-size: 5vw;
        text-align: center;
    }

    /*Подравняване на социалните икони*/
    .socials {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .socials img {
        width: 7vw;
        height: auto;
    }
    .imgcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    /* Центриране и адаптиране на снимката */
    .psychology {
        display: flex;
        width: 90%;
        height: 50%;
        align-items: center;
        object-fit: cover;
    }

    /*Респонсив слайдър */
    .slider {
        width: 90%;
        max-width: 320px;
        margin: 0 auto;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    /*Подравняване на текста */
    p {
        font-size: 13px;
        line-height: 1.5;
        text-align: justify;
        padding: 10px;
    }
    .menu-toggle {
        display: block;

    }
    .mobile-menu {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(34, 34, 34, 0.6);
        z-index: 1000;

    }

    /*     Навигация (меню) */
    nav ul {
        display: none;  /*Скриваме старото меню */

    }

    nav li {
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    /* Подравняване на таблицата */
    table {
        width: 100%;
        font-size: 12px;
    }

    th, td {
        padding: 8px;
        text-align: center;
    }
    address, div label, contactForm {
        font-size: 13px;
        line-height: 1.5;
    }
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;

        margin-top: 6px;
    }
    .footer {
        background-color: #2c3e50;
        height: 40px;
        padding: 2px 5px;/*Намалява вътрешния отстъп*/
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;/*По-малък шрифт*/
    }
    .color-combinations {
        display: block;
        width: 100%;
    }

    .color-combinations th, .color-combinations td {
        width: 30%;
        padding: 3px;
        font-size: 14px;
        text-align: center;
        word-wrap: break-word;/*Пренасяне на текста*/
    }

    .best-industries {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Две кутийки на ред */

    }
    .best-practices {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Две кутийки на ред */
    }
    .practice {
        height: 100%;
        padding: 6px;
        text-align: center;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: blueviolet;
        font-size: 40px;
    }

    /*Центриране на логото */
    .logo {
        max-width: 50px;
        display: block;
        margin: 5px auto;
    }

    /*Подравняване на заглавието */
    h1 {
        font-size: 3vw;
        text-align: center;
        margin-top: 60px ;
        display: block;
    }
    h2 {
        font-size: 4vw;
        text-align: center;
    }
    h3 {
        font-size: 5vw;
        text-align: center;
    }

    /*Подравняване на социалните икони*/
    .socials {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .socials img {
        width: 7vw;
        height: auto;
    }
    .imgcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    /* Центриране и адаптиране на снимката */
    .psychology {
        display: flex;
        width: 90%;
        height: 50%;
        align-items: center;
        object-fit: cover;
        /*        margin-top: 70px;*/
    }

    /*Респонсив слайдър */
    .slider {
        width: 90%;
        max-width: 320px;
        margin: 0 auto;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    /*Подравняване на текста */
    p {
        font-size: 13px;
        line-height: 1.5;
        text-align: justify;
        padding: 10px;
    }
    .menu-toggle {
        display: block;

    }
    .mobile-menu {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(34, 34, 34, 0.6);
        z-index: 1000;

    }

    /*     Навигация (меню) */
    nav ul {
        display: none;  /*Скриваме старото меню */

    }

    nav li {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    /* Подравняване на таблицата */
    table {
        width: 100%;
        font-size: 12px;
    }

    th, td {
        padding: 8px;
        text-align: center;
    }
    address, div label, contactForm {
        font-size: 13px;
        line-height: 1.5;
    }

    .slider {
        width: 85%;
        max-width: 400px;
    }

    .color-combinations th, .color-combinations td {
        width: 32%;
        font-size: 14px;
    }

    .best-industries,
    .best-practices {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Две кутийки на ред */
        gap: 15px;
    }

    .footer {
        background-color: #2c3e50;
        height: 40px;
        padding: 2px 5px;/*Намалява вътрешния отстъп*/
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;/*По-малък шрифт*/
    }
}
/* МЕДИЯ: ДЕСКТОП (769px И НАГОРЕ)*/
@media only screen and (min-width: 769px) {
    body {
        background-color: white;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
    }

    .logo {
        max-width: 80px;
        margin: 10px;
    }
    /* От W3Schools за гъвкави колони */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Слайдер за десктоп */
    .slider {
        width: 60%;
        max-width: 800px;
        margin: 0 auto;
    }
}


