<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8">
        <title>Цветове и тяхното значение</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/newcss.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" type="images/images.avif" href="../static/images/images.avif">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    </head>
    <body class="Lobster">
        <header>
            <div class="header row">
                <div class="col-1"> 
                    <a href="index.html">                        
                        <img class="logo" src="../static/images/logo.jpg" alt="logo"/></a>
                </div>
                <div class="col-8">
                    <h1 class="content">Цветове и тяхното значение</h1>
                </div>
                <div class="col-3 socials">
                    <a href=" https://www.facebook.com/" target="_blank" title="Посетете ни в facebook">  
                        <img class="f" src="../static/images/facebook.png" alt=""/></a>
                    <a href=" https://x.com/?lang=en&mx=2" target="_blank" title="Посетете ни в x">
                        <img class="x" src="../static/images/X_logo.JPG" alt=""/></a>
                    <a href=" https://www.instagram.com/" target="_blank" title="Посетете ни в instagram">
                        <img class="inst" src="../static/images/instagram.png" alt=""/></a>
                </div>
             
        </header>
        <nav>
            <ul class="caveat-uniquifier">
                <li><a href="index.html">Начало</a></li>
                <li><a href="colors.html">Цветове</a></li>
                <li><a href="combinations.html">Комбинации</a></li>
                <li><a href="industries.html">Индустрии</a></li>
                <li><a href="best-practices.html">Практики</a></li>
                <li><a href="contact.html">Контакт</a></li>
            </ul>
        </nav>
<div class="mobile-menu">
    <button class="menu-toggle">☰</button>
    <ul class="mobile-nav">
        <li><a href="index.html">Начало</a></li>
        <li><a href="colors.html">Цветове</a></li>
        <li><a href="combinations.html">Комбинации</a></li>
        <li><a href="industries.html">Индустрии</a></li>
        <li><a href="best-practices.html">Практики</a></li>
        <li><a href="contact.html">Контакт</a></li>
    </ul>
</div>
        <main>
            <div class="slider">
                    <div class="slide">
                        <img src="../static/images/Colors_and_their_impact.jpg" alt="Червеното в психологията">
                    </div>
                    <div class="slide">
                        <img src="../static/images/Color_in_any_given_situation.jpg" alt="Синьото в психологията">
                    </div>
                    <div class="slide">
                        <img src="../static/images/How-To-Choose-Colors-For-The-Best-UI-Design-768x439.jpg" alt="Зеленото в психологията">
                    </div>
                    <div class="slide">
                        <img src="../static/images/6686f48b418b55ef57faecf9_capa_c33f26b009f302fd97b25c8ad74c9801_2000.png" alt="Синьото в психологията">
                    </div>
                    <div class="slide">
                        <img src="../static/images/xj6WHEK0TWTY.jpg" alt="Синьото в психологията">
                    </div>
                    <div class="slide">
                        <img src="../static/images/1718950593549.png" alt="Синьото в психологията">
                    </div><div class="slide">
                        <img src="../static/images/gettyimages-1647817182-612x612.jpg" alt="Синьото в психологията">
                    </div><div class="slide">
                        <img src="../static/images/images.jpg" alt="Синьото в психологията">
                    </div>
                    <!-- Бутони за навигация -->
                    <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
                    <button class="next" onclick="changeSlide(1)">&#10095;</button>
                </div>
                <p class="slogan">Как цветовете влияят на емоциите ни?</p>
            <h2>Значение на цветовете</h2>
            <table class="color-table">
                <tr>
                    <th>Цвят</th>
                    <th>Значение</th>
                    <th>Психологическо въздействие</th>
                </tr>
                <tr>
                    <td style="background-color: red; color: white;">Червен</td>
                    <td>Енергия, страст</td>
                    <td>Повишава сърдечния ритъм, стимулира апетита, използван за привличане на внимание</td>
                </tr>
                <tr>
                    <td style="background-color: blue; color: white;">Син</td>
                    <td>Спокойствие, доверие</td>
                    <td>Създава усещане за сигурност и професионализъм, често използван в корпоративния свят</td>
                </tr>
                <tr>
                    <td style="background-color: yellow; color: black;">Жълт</td>
                    <td>Щастие, позитивност</td>
                    <td>Стимулира ума, насърчава комуникацията, но прекомерното използване може да предизвика тревожност</td>
                </tr>
                <tr>
                    <td style="background-color: green; color: white;">Зелен</td>
                    <td>Природа, баланс</td>
                    <td>Свързва се с хармония, здраве и свежест, използван в екологични и здравни брандове</td>
                </tr>
                <tr>
                    <td style="background-color: purple; color: white;">Лилав</td>
                    <td>Лукс, креативност</td>
                    <td>Често използван в козметиката и креативните индустрии за изразяване на оригиналност</td>
                </tr>
                <tr>
                    <td style="background-color: orange; color: black;">Оранжев</td>
                    <td>Ентусиазъм, мотивация</td>
                    <td>Комбинира енергията на червено и щастието на жълто, създава усещане за динамика</td>
                </tr>
                <tr>
                    <td style="background-color: black; color: white;">Черен</td>
                    <td>Елегантност, мистерия</td>
                    <td>Свързан с лукс, сила и авторитет, но също може да предизвика негативни асоциации</td>
                </tr>
                <tr>
                    <td style="background-color: white; color: black;">Бял</td>
                    <td>Чистота, невинност</td>
                    <td>Използван за минимализъм, прозрачност и здравеопазване</td>
                </tr>
            </table>
        </main>

        <footer class="footer center">
            <p>&copy; 2025 Психология на цветовете</p>
        </footer>
        <script src="../static/JavaScript/JSSlaid.js" type="text/javascript"></script>
        <script src="../static/JavaScript/jsMenuMobile.js" type="text/javascript"></script>
    </body>
</html>